[Unit]
Description=EarnApp
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/earnapp run
User=root
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
